python@3.11
python-tk@3.11
proj               9.2.1
p7zip              17.05
spatialindex       1.9.3   
certifi            2023.7.22
charset-normalizer 3.1.0
GDAL               3.7.1
idna               3.4
numpy              1.25.2
Pillow             10.0.0
protobuf           4.24.2
pyproj             3.6.0
requests           2.31.0
Rtree              1.0.1
shapely            2.0.1
urllib3            2.0.3
imagemagick        7.1.1-15
